body {
    font-family: Gilam, sans-serif;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px 240px;
    background: url("imgs/construction-technology-ecosystem_1536x1536_500.jpg") fixed;
    background-size: cover;
}

.container {
    max-width: 1460px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 37px;
}

header button {
    background-color: #171717;
    border: 1px solid #E4B564;
    padding: 10px 25px;
}

header a {
    font-family: Circe sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    text-decoration: none;
    margin-left: 10px;
}

.networks {
    margin-top: 120px;
    color: #FFFFFF;
}

.title {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
}

.subtitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-top: 41px;
    max-width: 1182px;
}

.networks-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 468px);
    grid-template-areas: "item-1 item-1 item-2 item-2 item-3 item-3"
"item-4 item-4 item-4 item-5 item-5 item-5";
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    gap: 30px;
    margin-top: 40px;
}

.networks-grid div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 44px;
}

.networks-item-ground {
    grid-area: item-1;
    background-color: #634F2C;
}

.networks-item-underground {
    grid-area: item-2;
    background-color: #B4A385;
}

.networks-item-canal {
    grid-area: item-3;
    background-color: #B4A385;
}

.networks-item-support {
    grid-area: item-4;
    background-color: #635A4A;
}

.networks-item-well {
    grid-area: item-5;
    background-color: #B08C4D;
}

.park {
    margin-top: 160px;
    color: #FFFFFF;
}

.park-grid {
    display: grid;
    column-gap: 30px;
    grid-template-rows: 31% 6% 15% 17% 30%;
    grid-template-columns: repeat(3, 1fr);
    height: 903px;
    margin: 94px 0 192px;
    font-size: 20px;
    line-height: 25px;
}

[class*="park-item"] {
    padding: 44px 0 0 52px;
}

.park-item-mudpump {
    grid-row: 1/3;
    background-color: #0E0E0E;
    margin-bottom: 24px;
}

.park-item-canalflush {
    grid-row: 1/4;
    background-color: #242424;
    margin-bottom: 33px;
}

.park-item-ex-loader {
    background-color: #1F1F1F;
    margin-bottom: 26px;
}

.park-item-loader {
    grid-row: 3/6;
    background-color: #1F1F1F;
}

.park-item-excavator {
    grid-row: 4/6;
    background-color: #E4B564;
    margin-bottom: 24px;
}

.park-item-kamaz {
    grid-row: 2/5;
    background-color: #0E0E0E;
    margin-bottom: 26px;
}

.park-item-roller {
    grid-column: 3/4;
    background-color: #0A0909;
}

.bold {
    font-weight: 700;
}

.semibold {
    font-weight: 500;
}

.wrapper-dark {
    width: 100%;
    margin: 0 -20px;
    padding: 160px 20px 0;
    background-color: #0E0E0E;
}

.clients {
    color: #FFFFFF;
}

.clients-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients-btn {
    background-color: #0E0E0E;
    border: 1px solid #E4B564;
    padding: 10px 40px;
    font-family: Circe sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
}

.clients-content {
    display: grid;
    grid-template-rows: repeat(2, 390px);
    grid-template-columns: repeat(3, 1fr);
    margin-top: 60px;
}

[class*="clients-item"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clients-item-eid {
    background-color: #634F2C;
}

.clients-item-mavis {
    background-color: #E8D2ABC2;
}

.clients-item-mavis p {
    max-width: 326px;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    margin-top: 16px;
}

.clients-item-mavis span {
    font-weight: 400;
}

.clients-content:hover img {
    cursor: pointer;
}

.clients-item-arsenal {
    background-color: #E4B564;
}

.clients-item-arsenal:last-child {
    background-color: #635A4A;
}

.clients-item-setgroup {
    background-color: #B08C4D;
}

.clients-item-eid:last-child {
    background-color: #634F2C;
}

